{% extends "mainpage.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-2">
            <span><a href="#" type="button" class="btn fa fa-th-list" style="font-size:24px;" title=""> GST Report
                </a></span>
        </div>
        <div class="col-lg-1  col-md-offset-9">

            <span><a href="{% url 'navigation:gstexport' %}" type="button" class="btn fa fa-download"
                    style="font-size:24px;" title="Add New Item"></a></span>

        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <section class="articles">
                    </section>

                    {% if resdata %}
                    <table class="table table-striped">


                        <thead>
                            <th>Purchase Invoice</th>
                            <th>CGST</th>
                            <th>SGST</th>
                            <th>IGST</th>
                            <th>Salse Invoice</th>
                            <th>CGST</th>
                            <th>SGST</th>
                            <th>IGST</th>
                        </thead>
                        <tbody id="tbody">
                            {%for P,S in resdata %}
                            <tr>
                                
                                <td>{{P.invoiceno}}</td>
                                <td>{{P.cgstamount}}</td>
                                <td>{{P.sgstamount}}</td>
                                <td>{{P.igstamount}}</td>
                                <td>{{S.invoiceno}}</td>
                                <td>{{S.cgstamount}}</td>
                                <td>{{S.sgstamount}}</td>
                                <td>{{S.igstamount}}</td>
                            </tr>
                            {%endfor%}

                        </tbody>
                    </table>
                    {% else %}
                    <h4 class="text-center alert alert-warning">No Records</h4>
                    {% endif %}

                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>




{% endblock %}